/* -----all list name with id------ */
 /* -----all card name with className----- */

 /* ---------Start CSS of Card.js--------- */
 .card-container {
  background-color: rgba(248, 244, 246, 0.89);
  /* background-color: palevioletred; */
  width: 95%;
  /* width: 1060px; */
  /* margin-left: 2rem; */
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  color: rgb(63,63,63);
  gap: 1rem;
  padding: 0.3rem;
  border-color: #333;
  }
  @media screen and (width <555px) {
    .card-container{
      width: 80%;
      margin: 0;
      /* background-color: rgb(226, 107, 9); */
    }
  }
  .card {
    margin: -0.1px;
    background-color: transparent;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.178);
    overflow: hidden;
    position: absolute;
    /* width: 19%; */
    width: 11.50rem;
    /* width: 180px; */
    height: 22rem;
    transition: transform 2.5s ease-in-out;
  }
  @media screen and (width < 505px) {
    .card {
      width: 70%;
      margin: 0;
      background-color: rgb(16, 226, 9);
    }
  }
  .card:hover img{
    /* overflow: hidden; */
    cursor: pointer;    
    box-shadow: 1px 1px 15px 1px rgba(128, 128, 128, 0.493);
    transform: scale(1.20);
    transition: 1s ease;
    
  } 
  .imageBox{
    background-color: transparent;
    /* height: 137px; */
    height: 10rem;
    transition: all;
    display: flex;
    transform: none;
    top: 1px;
    overflow: hidden;
  }
  @media screen and (width < 155px) {
    .imageBox {
      width: 100%;
      margin: 0;
      /* background-color: rgb(226, 107, 9); */
    }
  }
  .S_cardImage{  
    display: flex;
    /* width: 250px; */
    width: 20rem;
    margin-left: -3rem;
    height: auto;
    object-fit: cover; 
    margin-bottom: 2rem;      
  }
  .S_cardImage:hover{ 
    -webkit-transform: scale(1.5);
    -ms-transform: scale(0.5);
    transform: scale(1.1);
    transition: 1s ease;
  } 
  .S_imageBox .imgstiker{
    /* width: 46px; */
    width: 3rem;
    height: 2.2rem;
    background-color: #0F3A8D;
    position: absolute;
    top: 2px;
    bottom: 212px;
    right: 5px;
    left: 5px;
    display: block;
    line-height: 12px;
    z-index: 10;
    font-size: 12px;
    align-items: center;
    font-weight: 700;
    padding: 5px 10px 4px 10px ;
    border-radius: 4px;
  }   
  #imgtext{
    background-color: rgba(235, 232, 233, 0.89);
    width: 100%;
    position: absolute;
    top: 100px;
    left: 0px;
    /* border: solid 2px red; */
    margin-bottom: 55px;
    margin-right: 0.5rem;
    padding-left: 0.4rem;
  }
  @media screen and (width < 535px) {
    #imgtext {
      width: 100%;
      margin: 0;
      /* background-color: rgb(226, 9, 197); */
    }
  }
  .S_cardtitle{
    margin-top: -1rem;
    padding-left: 2px;
    /* width: 175px; */
    width: 11rem;
    font-weight: 750;
    color:#3A4754 ;
    font-size: 17px;
    text-transform: capitalize;
  }
  /* @media screen and (width < 935px) {
    .S_cardtitle {
      width: 80%;
      margin: 0;
      background-color: rgb(226, 9, 197);
    }
  } */
  .S_cardIntro {
    font-size: 15px;
    font-weight: 500;
    color: rgb(63,63,63);
    text-align: center;
  }
  /* @media screen and (width < 955px) {
    .S_cardIntro {
      width: 80%;
      height: auto;
      margin: 0;
      background-color: rgb(226, 9, 56);
    }
  } */
  .view{
    width: 100%;
    height: 20px;
    position: relative;
    border: solid 1px red;
    box-shadow: 1px 1px 5px 1px rgba(201, 200, 200, 0.74);
    background-color: rgba(221, 220, 220, 0.966);
  }
  .user{
    background-color: transparent;
  }
  .coment{
    background-color: transparent;
  }
  .vie-icon{
    background-color: transparent;
  }
    h4{
      margin-bottom: 1px;
    }
    .readmore{
      color: gray;
      display: flex;
      position: absolute;
      left: 30%;
      bottom: 3%;
      align-items: center;
      justify-content: center;
      gap: .5rem;
    }
    .readmore:hover{
      color: red;
    }
    /* ---------End CSS of Card.js--------- */

    /* ---------Start CSS of BlogList.js--------- */
    .l{
      background-color: transparent;
      color: rgb(63,63,63);
    }
    #Slid-Box{
      /* width: 1060px; */
    width: 92%;
      display: flex;
      color: black;
      /* border: solid 1px black; */
      margin-left:2rem ;
      margin-top: 5px;
      background-color: rgba(219, 216, 217, 0.89);
    }
    #Sliderr{
      /* width: 300px; */
      width: 16rem;
      color: black;
    }
    #SlideNo{
      /* width: 233px; */
      width: 16rem;
      /* height: 19px; */
      height: 2rem;
      font-size: 13px;
      font-weight: 500;
      margin-left: 49%;
      margin-top: 2%;
    }

    /* search blog */
    .react-slick{
      width: 10%;
      background-color: aqua;
    }
    .bottom-absolute{
      position: absolute;
     margin-left: 2rem;
      bottom: 0;
      left: 10px;
      width: 90%;
      height: auto ;
      background-color: #333;
      color: white;
      text-align: center;
      padding: 1rem;
      position: sticky;
      bottom: 0%;
    }
    .blogSearch{
      width: 25%;
      margin-left: -10px;
      /* border: solid 2px red; */
      /* margin-right: -20px; */
    }
    /* @media screen and (max-device-width:480px) {
      .blogSearch {
        width: 100%;
        margin: auto;
        background-color: rgb(226, 107, 9);
        display: block;
      }
  } */
  @media screen and (min-width: 0px) and (max-width: 1024px)  {
    .blogSearch {
      width: 100%;
      margin: auto;
      background-color: rgb(226, 107, 9);
      display: none;
    }
}
  /* @media screen and (max-device-width:480px){
    ...
    put your mobile device CSS code here
    ...
} */
 
@media screen and (width < 1115px) {
  .cardMainList {
    width: 100%;
    background-color: lightblue;
  }
}
 @media screen and (width < 832px) {
  .cardMainList {
    width: 100%;
    margin: 0;
    /* background-color: rgb(226, 107, 9); */
  }
/* 
  #container{
    width: 90%;
  } */
}
.bloglistFirstPage{
  width: 100%;
  justify-content: center;
  max-width: auto;
  max-height: auto;
  align-items: center;
  margin: 0 auto;
}
@media screen and (width < 200px) {
  .bloglistFirstPage {
    width: 100%;
    margin: 0;
    /* background-color: rgb(226, 107, 9); */
  }
}

 .fly-M{
  /* background-color: aqua; */
  font-size: 35px;
  font-weight: 750;
  /* width: 1280px; */
  width: 90%;
  color: #424242;
  padding-top:20px ;
  padding-left: 6%;
  padding-bottom: 15px;
  text-align: left;
  line-height: 36px;
  position: relative;
}
.fly-M::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 6%; 
  /* right: 5%; */
  width: 10%; 
  height: 3px; 
  background-color: orangered;
}

    
/* --------End CSS of BlogList.js--------- */    