.forgetpassword-page {
    width: 100%;
    padding-top: 2%;
    line-height: 1.5;
    /* font-family: 'Roboto'; */
    font-weight: 400;
    font-size: 0.99rem;
  }
  
  .forgetpassword-container {
    max-width: 1280px;
    margin: 0 auto;
    padding-top: 2%;
    padding-bottom: 2%;
  }
  
  .forgetpassword-title {
    max-width: 1280px;
    padding: 7px;
    font-size: 1.955rem;
    font-weight: 700;
    position: relative;
    margin: 0 auto;
  }
  
  .forgetpassword-title::after {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 0.4vh;
    top: 100%;
    transform: translateY(100%);
    background-color: #e82c2c;
  }
  
  .forgetpassword-form-group h3 {
    position: relative;
    display: block;
    padding: 0.85%;
    padding-left: 0;
  }
  
  .forgetpassword-form-group h3::after {
    content: "";
    position: absolute;
    display: block;
    width: 70px;
    height: 0.4vh;
    top: 100%;
    background-color: #e82c2c;
  }
  
  .forgetpassword-form-group form {
    gap: 5px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    width: 60%;
  }
  
  .forgetpassword-form-group label {
    display: block;
    padding: 2.5%;
    padding-left: 0;
    font-size: 1rem;
    margin-bottom: 5px;
  }
  
  .forgetpassword-form-group label span {
    color: #f10808;
    font-size: 1.2rem;
   
  }
  
  .forgetpassword-form-group input {
    flex: 1;
    box-shadow: none;
    border: 1px solid grey;
    padding: 12px;
    border-radius: 5px;
  }
  .forgetpassword-form-group input:focus {
    border-color: #80bdff;
    /* outline: yellowgreen; */
  }
  
  .forgetpassword-buttons {
    width: 100%;
    display: grid;
    margin-top: 2%;
    column-gap: 50px;
    grid-template-columns: 1fr 1fr;
  }
  
  .forgetpassword-buttons button {
    padding: 0.69pc;
    border-radius: 3px;
  }
  
  .forgetpassword-buttons .back {
    font-size: 13px;
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
    text-transform: uppercase;
    border: 0;
    text-align:  center;
    background-color: rgba(221, 14, 28, 1);
  }
  
  .forgetpassword-buttons .continue {
    font-size: 13px;
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
    text-transform: uppercase;
    border: 0;
    background-color: rgba(15, 58, 141, 1);
  }
  
  .forgetpassword-buttons button:hover {
    background-color: rgba(14, 10, 252, 0.9333);
    cursor: pointer;
  }
  