

.carousel-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
}
.mainContainer{
  display: flex;
  justify-content: center;
  gap: .5rem;
  /* border:2px solid red; */
  margin: 5px;

}


.secdiv {
  background-size: cover;
  width: 100%;
  height:auto;

}
.secdiv img{
  border-radius: 10px;
}
.textComponent {
  font-size: 1rem;
}

.textHeader {
  font-size: 1.1rem;
}
.main{
  margin: 5px;
  position:relative;
  overflow: hidden;

}


/* .rightCarousel{
  border: 2px solid red;
  width:auto;
  height:auto;
}  */
.text-on-image {
  position: absolute;
  right: 5px;
  left: 15px;
  top: 25px;
}

.text-on-image1 {
  position: absolute;
  right: 5px;
  left: 15px;
  top: 28px;
}

@media only screen and (max-width:600px) {


  .textComponent {
      font-size: 1rem;
  }

  .textHeader {
      font-size: 1.1rem;
  }
  .rightCarousel:hover> :not(:hover) {
      opacity: 0.8;

  }

}
@media (max-width:650px) {
  .rightCarousel{
      display: flex;
      gap: 1rem;
  }   
}

@media (max-width:770px) {
.mainContainer{
  display: flex;
  /* justify-content: center; */
  gap: 2rem;
  flex-direction: column;
}
.rightCarousel{
  display: flex;
  justify-content: space-around;
}
  
}
@media (min-width:768px)and (max-width:1250px) {
  .rightCarousel{
    display: none;
  }
}