
.containe{
    /* border: 2px solid rgb(26, 22, 22); */
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4rem;
    padding: 2px;

}
.contain{
    /* border: 2px solid red; */
    display: flex;
    width: 80vw;
    height: 30px;
    margin-top: 2rem;
    max-width: 80rem;

   /* overflow: hidden; */
} 
.litag{
    border-top-width: 0;
    border-left-width: 0;
    border-width: 0 0 0 1px;
    flex-grow: 0;
    justify-content: flex-start;
    white-space: nowrap;
   position: relative;

}
.list :hover{
    color: rgb(8, 248, 248);
    
}
.Quick{
    color: rgb(62, 62, 243);
}
.list{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 5px;
    font-size: 15px;
    font-weight: bolder;
    cursor: pointer;
}
.litag:hover::after{
    position: absolute;
    content: '';
    width: 90%;
    height: 3px;
    background-color: rgb(28, 43, 247);
    bottom: -1px;
    left: 18px;
}
.list::-webkit-scrollbar {
    display: none;
  }


  /* Responsive mobile app */

  @media (min-width:600px) {
    
.containe{
    /* border: 2px solid rgb(26, 22, 22); */
    display: flex;
    justify-items: center;
    justify-content: center;
    max-width: 100%-20px;
    height: 4rem;
    padding: 2px;
    width: 100%;
    padding-right: 10px;
    padding-bottom: 20px;

}
.contain{
    /* border: 2px solid red; */
    display: flex;
    width: 90vw;
    height: 30px;
    justify-items: center;
    margin-top: 1rem;
    margin-left: 7px;
   /* overflow: hidden; */
   height: 100%;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
} 
.litag{
    border-top-width: 0;
    border-left-width: 0;
    border-width: 0 0 0 1px;
    flex-grow: 0;
    justify-content: flex-start;
    white-space: nowrap;
}
.list :hover{
    color: aqua;
    
}
.Quick{
    color: rgb(62, 62, 243);
}
.list{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 4px;
    font-size: 14px;
    font-weight: bolder;
    cursor: pointer;
   
}
.list::-webkit-scrollbar {
    display: none;
  }    
  }
