


  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: white;
    border-radius: 8px;
    padding: 20px 20px 0px;
    position: relative;
    min-width: 600px;
    height: 70vh;
    width: 700px;
  /* border: 1px solid blue; */

}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
}

.modal-image {
    width: 100%;
    border-radius: 8px;
}

.image-productDetails{
  /* border: 1px solid blue; */
  height: 441.17px;
  width: 650px;
  display: flex;
  justify-content: space-between;
}
.image-main-div{
  width: 328px;
  height: 425px;
  min-width:216;
  min-height:411;
  /* border: 1px solid yellow; */
}
.image-main-div img{
  width: 328px;
  height: 328px;
  border: 1px solid rgb(219, 218, 216);

}
.img-small-all-box{
  width: 328px;
  height: 78px;
  /* border: 1px solid rgb(0, 255, 55); */
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}
.img-small-all-box .small-box{
  width:75px;
  height:75px;
  max-width: 75px;
  max-height: 75px;
  min-width: 46.63px;
  min-height:46.63;
  /* border: 1px solid rgb(189, 186, 183); */
  object-fit: cover;
  background-size: cover;
border-radius: 10px;
cursor: default;
}
.img-small-all-box .small-box:hover{
  border: 1px solid rgb(12, 212, 226)
}
.img-small-all-box .small-box img{
  width: 100%;
  height:100%;
  border: 1px solid rgb(189, 186, 183);
  border-radius: 10px ;
 overflow-clip-margin: content-box;
    overflow: clip;
    overflow-x: 80px ;
    vertical-align: middle;
    overflow-y: 80px;
}



.Image-right-product-Detaials{
  /* border: 1px solid red; */
  width: 310px;
  height: 441px;
}
.modal-details p{
  /* border: 1px solid rgb(255, 115, 0); */
width: 310px;
height:91.17px;
font-size: 25px;
font-weight: bolder;
letter-spacing: 0px;
line-height: 22px;
padding:0.5rem;
}
.description-box{
  /* border: 1px solid rgb(255, 115, 0); */
  width: 310px;
  height:294px;
  position: relative;
  padding: 1rem;
}
.description-box p{
  display: block;
  /* margin-block-start: 1em;
  margin-block-end: 1em; */
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
  letter-spacing: 0px;
line-height: 18px;
font-size: 15px;

}
.description-box button{
  width: 70px;
  height:14px;
  background-color: blue;
  font-size: 6px;
  color:white;
  position:relative;
  left: 35%;
  bottom: 2.5rem;
}
.brand-details-box{
  width: 310px;
  height:8rem;
  /* border: 1px solid rgb(255, 115, 0); */
  position:relative;
  bottom:1rem;
margin: 0px 10px 0px 0px;
}

.brand-details-box p{
margin-left: 1rem;
}
.brand-details-box .dot-circle{
  display:flex;
  gap:1rem;
  list-style:none;
}
.brand-details-box .dot-circle div{
  width:15px;
  height:15px;
  border-radius: 100%;
  background-color: green;
  position:relative;
}
.brand-details-box .dot-circle span{
font-weight: bolder;
font-size:12px;
color:green;
}
.brand-details-box li{
font-size:12px;

}
.brand-details-box-price{
  width: 310px;
  height:5rem;
  /* border: 1px solid rgb(255, 115, 0); */
}
.brand-details-box-price p{
  color:green;
}








.button-section-bottom{
  width: 650px;
  height:5rem;
  /* border: 1px solid rgb(255, 115, 0); */
  display: flex;
  justify-content: space-between;
}
/* Add  to Button */
.addTocardbutton {
  /* border: 2px solid yellowgreen; */
  width: 20%;
  display: flex;
  justify-content: space-between;
}

.button1div {
  border: 1px solid rgb(128, 126, 126);
  width: 4rem;
  height: 6vh;
}

.button_2div {
  /* border: 2px solid red; */
  background-color: rgb(0, 0, 110);
  width: 28rem;
  height: 5.9vh;
  display: flex;
  justify-content: center;
  justify-items: center;
  font-size: 15px;
}

.shopIcon {
  margin-top: -5px;
}

.button_3div {
  /* border: 2px solid rgb(33, 224, 161); */
  width: 18%;
  height: 6vh;
  /* background-color: rgb(116, 221, 151); */
  display: flex;
  justify-items: center;
  justify-content: space-between;

  /* gap: 6px; */
}

.button_3div .heart-icon{
  background-color: #ff0000;
  border: none;
  color: white;
  font-size: 13px;
  /* border: 2px solid #ff0000; */
  width:53px;
  height:43px;
  align-items: center;  
  justify-items: center;
  justify-content: center;
display: flex;
}
.button_3div .Buynowbutton {
  background-color: rgb(18, 233, 133);
  border: none;
  color: white;
  font-size: 13px;
  gap: 10px;
  /* border: 2px solid rgb(32, 233, 223); */
  display: flex;
  width:53px;
  height:43px;
  justify-items: center;
  align-items: center;
  justify-content: center;

}

.first11 {
  /* border: 2px solid blue; */
  width: 4rem;
  display: flex;
}

.second11 {
  border: 1px rgb(117, 116, 116) solid;
  width: 1.7rem;
  height: 2.8rem;
  display: flex;
  justify-items: center;
  justify-content: center;
}

.main11 {
  display: flex;
  justify-content: center;
  justify-items: center;
  margin-top: 2px;

}

.third11 {
  /* border: 2px solid yellowgreen; */
  height: 2.8rem;
  width: 2.2rem;
  background-size: cover;
  display: flex;
  flex-direction: column;
  font-size: 10px;
  background-color: rgb(182, 186, 189);
}

.third11line {
  border: 1px solid rgb(99, 97, 97);
  display: flex;
  width: 100%;
  margin-top: 3px;
  /* background-color: rgb(26, 27, 27); */
}

.addtocardbutton {
  background-color: rgb(0, 0, 110);
  color: white;
  border: none;
  font-size: 13px;
}