.rightCarousel {
    /* margin-left: -15px; */
    max-width: 328px;
    width:100%;
    height: auto;
    border-radius: 10px;

}

.textComponent {
    font-size: 1rem;
}

.textHeader {
    font-size: 1.1rem;
}

.main {
    position: relative;
    flex-basis:50%;
    margin: 7px auto;
    
    /* border: 2px solid red; */
}

.rightCarousel:hover> :not(:hover) {
    opacity: 0.8;

}

.text-on-image {
    position: absolute;
    right: 5px;
    left: 15px;
    top: 55px;
}



.text-on-image1 {
    position: absolute;
    right: 5px;
    left: 15px;
    top: 48px;
}

.firsdiv {
    background-size: cover;
    /* border: 1px solid red; */
   

}


.secdiv {
    background-size: cover;
    /* border: 1px solid red; */
   
    /* margin-top: 20px; */
}

.img1 {
    background-size: cover;
    /* height: 212px; */
    /* width: fit-content; */
    border-radius: 10px;

}
@media (max-width:1027) {
    .rightCarousel{
        /* border: 2px solid black; */
        width: 100%;
        max-width: 100%;
        display: flex;
        justify-content: space-between ;
        align-items: center;
        margin: 10px auto;
    
        }
        .main{
            flex-basis:50%;
            /* width: 100%;
            max-width: 100%; */
        }
        .firsdiv {
            background-size: cover;
            /* border: 1px solid red; */
            width: 100%;
            max-width:100%;
        }
        .secdiv {
            background-size: cover;
            /* border: 1px solid red; */
            width: 100%;
            max-width:100%;
          
    
        } 
}

@media (max-width: 767px) {

    .rightCarousel{
    /* border: 2px solid black; */
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: space-between ;
    align-items: center;
    margin: 10px auto;

    }
    .main{
        flex-basis:48%;
        /* width: 100%;
        max-width: 100%; */
    }
    .firsdiv {
        background-size: cover;
        /* border: 1px solid red; */
        width: 100%;
        max-width:100%;
    }
    .secdiv {
        background-size: cover;
        /* border: 1px solid red; */
        width: 100%;
        max-width:100%;
      

    }
}

@media (max-width: 721px) {
    .rightCarousel{
        /* border: 2px solid black; */
        width: 100%;
        max-width: 100%;
        display: flex;
        justify-content: space-between ;
        align-items: center;
        gap: .5rem;

        }
    .main {  
   /* border: 2px solid red; */
  width: 100%;
    max-width: 50%;
    overflow: hidden;
    }
    .img1 {
        border-radius: 10px;
        width:100%;
        height: auto;
    }
    .firsdiv {
        background-size: cover;
      
        
    }
    .secdiv {
        background-size: cover;
        /* border: 1px solid red; */
      
    }
    
}

@media only screen and (max-width:600px) {


    .textComponent {
        font-size: 1rem;
    }

    .textHeader {
        font-size: 1.1rem;
    }

   

    .rightCarousel:hover> :not(:hover) {
        opacity: 0.8;

    }

    .text-on-image {
        position: absolute;
        right: 5px;
        left: 15px;
        top: 55px;   
    }

    

    .text-on-image1 {
        position: absolute;
        right: 5px;
        left: 15px;
        top: 48px;
    }
}