/* Base styles for the home container */
.home_container {
    width: 100%;
    height:auto;
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* border:2px solid red; */
  }
  
  .home-wraper {
    
    width: 100%;
    max-width: 80rem;
    overflow: hidden;


  }
  
  
  
  .destination{
    height: auto;

  }
  .cardComponent,
  .Quick-Pick,
  .testemonial,
  .productdetail {
    height: auto;
    margin-top: 30px;
    /* border:2px solid red; */
  }
  .cardComponent{
    margin: 80px 0;
  }
  
  /* Flex for Quick-Pick components to display items in a row on larger screens */
  .Quick-Pick {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  /* Individual card styles */
  .cardComponent, .Quick-Pick {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  @media (max-width: 992px) {
    .destination .cardComponent{
      display: flex;
      flex-direction: column;
     flex-wrap: wrap;
    }
  }
  
  /* For larger screens (desktops) */
  @media (min-width: 1024px) {
    .home-wraper {
      flex-direction: row;
      justify-content: space-between;
    }

    .destination, .cardComponent, .Quick-Pick, .testemonial, .productdetail {
      flex: 1;
    }
  
    .Quick-Pick {
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
  
  /* For tablets and medium screens */
  @media (min-width: 768px) and (max-width: 1023px) {
    
    .home-wraper {
      flex-direction: column;
    }
  
   
  
    .Quick-Pick {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .cardComponent{
      margin-top: 11rem;
    }
  }
  
  /* For small screens (mobile phones) */
  @media (max-width: 767px) {
    .home_container{
      padding: 0 20px;
      width: 100%;

      overflow:hidden;
    }
    .home-wraper {
      padding: 10px;

    }
  
    .curosal .curosal, 
    .destination,
    .cardComponent,
    .Quick-Pick,
    .testemonial,
    .productdetail {
      width: 100%;
    }
    .cardComponent{
      margin-top: 13rem;

    }
  
    .Quick-Pick {
      flex-direction: column;
      align-items: center;
    }
  
    .Quick-Pick .card {
      width: 100%;
    }
  }
  